.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover{
    color: #f1f1f1;
    background-color: #afafaf;
}

.subform{
	margin-left: 250px;
}

.smallinput{
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:100px;
    margin:2px 0 20px 10px;
}

.largeinput{
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:100px;
    margin:2px 0 20px 10px;
}

.smalllabel{
	float:left;
	margin-right:20px;
}

.labelsameline{
	float:left;
	display: block;
	margin-right:20px;
	margin-left:10px;
}

.inputsameline{
    display: inline-block;
    float:left;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:100px;
    margin:2px 0 20px 10px;
}

.sameline label, .sameline input, .sameline textarea{
	float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: top;
}

.seelist{
	margin-left: 250px;
}

table, th, td {
    border: 1px solid black;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

