.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d3d3d3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
}

.sidenav a {
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover{
    color: #f61919;
    background-color: #d3d3d3;
}

body{
	background-color: #9ACD32;
}

/* 
.slidingimg{
	width: 700px;
	height: 400px;
	margin-left: 50px;
}
 */

.subform, .seelist{
	margin-left: 250px;
	padding:20px;
}

.smallinput{
    display: block;
    font-size:15px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:150px;
    height:20px;
    margin:2px 0 20px 10px;
}

.smallinputreadonly, .balance_amount, .total_amount{
    display: block;
    font-size:15px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    background-color: #d3d3d3;
    width:150px;
    height:20px;
    margin:2px 0 10px 10px;
}

.total_discount, .paid_amount{
    display: block;
    font-size:15px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:150px;
    height:20px;
    margin:2px 0 10px 10px;
}

.largeinput{
    display: block;
    font-size:15px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:150px;
    margin:2px 0 20px 10px;
}

.smalllabel{
	float:left;
	margin-right:20px;
	width:120px;
	font-size:15px;
}

.labelsameline{
	float:left;
	display: block;
	margin-right:20px;
	margin-left:10px;
}

.inputsameline{
    display: inline-block;
    float:left;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:100px;
    margin:2px 0 20px 10px;
}

.sameline label, .sameline input, .sameline textarea{
	float: none; /* if you had floats before? otherwise inline-block will behave differently */
    display: inline-block;
    vertical-align: top;
}

table, th, td {
    border: 1px solid black;
}

/* unvisited link */
a:link {
    color: green;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: yellow;
} 

select{
	width:150px;
	height:20px;
	font-size:15px;
}

button{
	width:100px;
	height:30px;
	font-size:15px;
	margin-top:10px; 
	margin-bottom:20px;
	background-color: #d3d3d3;
	color: #818181;
}

button:hover{
	color: #f61919;
    background-color: #d3d3d3;
}

.more_items{
	width:100px;
	height:150px;
	font-size:40px;
	margin-top:10px; 
	margin-bottom:20px;
}
/*For slide show*/
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: absolute;
  margin-left: 50px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 18px 4px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

